.card{
    margin: 0.7vmax;
    background-color: white;
    height: min-content;
    width: 10vw;
    min-width: 110px;
    max-width: 15vw;
    
    border-radius: 1vmin;
}
.card img{
    border: 1px solid white;
    transition: all .2s ease-in-out;
    border-radius: 0.7vmin;
    height: 30vmin;
    min-height: 180px;
    width: 100%;

}
.card :hover{
    cursor: pointer;
    transform: scale(1.07);
}